*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
   
}

nav{

    display: flex;
    justify-content: space-between;    
    
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 2rem;
}
nav img{
    transform: rotate(180deg);
    height: 80px;
}

footer, nav {
    background-color: #EB6440;
    height: 80px;
    padding-right: 160px;
    padding-left: 160px;
}


section{
    display: flex;
    justify-content: center;
    align-items: center;    
}
